@import '../dist/imports/pu';

* {
  &,
  &:after,
  &:before {
    vertical-align: top;
    box-sizing: border-box;
  }
}
html {
  min-height: 100%;
  body {
    position: relative;

    display: inline-block;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: medium;
    background: rgba(235, 235, 235, 1);
  }
}



//--------------------------------------------------------------
header{
  background-image: url(/img/Products12.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
    border-radius: 0;
    font-size: 36px;
    line-height: 36px;
  }
}


