@import '../dist/imports/pu';

* {

  &,
  &:after,
  &:before {
    vertical-align: top;
    box-sizing: border-box;
  }
}

html {
  min-height: 100%;

  body {
    position: relative;

    display: inline-block;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: medium;
    background: rgba(235, 235, 235, 1);
  }
}

#top_banner {
  display: inline-block;
  width: 100%;
  // height: 500px;
  overflow: hidden;

  img {
    display: inline-block;
    width: 100%;
  }
}

$menuWidth: 280px;

#main {
  position: relative;
  display: inline-block;
  width: 100%;
  @include clearfix();

  >* {
    float: left;
    display: inline-block;
    @include border-line();
  }
}

#top_banner_ctrl {
  position: absolute;
  top: -55px;
  left: $menuWidth;
  display: inline-block;
  width: calc(100% - #{$menuWidth});
  height: 55px;
  padding: 0 16px;
  // @include border-line();
  background-color: #fff;
  text-align: left;
  @include clearfix();

  >* {
    float: left;
    display: inline-block;
    // @include border-line();
  }

  .btns {
    margin-top: 10px;
    width: 80px;

    >* {
      display: inline-block;
      float: left;
    }

    .btn {
      width: 35px;
      height: 35px;
      line-height: 35px;
      font-size: 18px;
      cursor: pointer;
      text-align: center;
      background-color: rgba(44, 87, 137, 1);
      color: rgba(255, 255, 255, .75);
      transition: background-color .3s;

      &:hover {
        background-color: rgba(0, 0, 0, 1);
        color: rgba(255, 255, 255, 1);
      }

      +.btn {
        margin-left: 8px;
      }
    }
  }

  .down {
    @include border-line (1px,transparent) ;
    position: relative;
    width: calc(100% - 80px - 104px - 350px - 16px);
    // ( 100% - btns:width=80px - pagination:width=104px - share:width=350px 
    //  - pagination:margin-left: 16px ) = down-width;

    >div {
      position: absolute;
      display: inline-block;
      top: 20px;
      left: calc(50% - 15px / 2);
      width: 15px;
      height: 15px;

      a {
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: -2px;
        left: 0;
        @include border-line (2px, rgba(187, 187, 187, 1));
        border-top: 0;
        border-left: 0;
        cursor: pointer;
        transition: top .3s;
        @include rotate (45deg);

        +a {
          top: 2px;
        }
      }

      &:hover {
        a {
          top: -4px;

          +a {
            top: 4px;
          }
        }
      }
    }

    // a {
    //   position: absolute;
    //   display: inline-block;
    //   top: $t;
    //   left: calc(50% - 14px / 2);
    //   width: 14px;
    //   height: 14px;
    //   @include border-line (2px,rgba(187, 187, 187,1));
    //   @include rotate (45deg);
    //   border-top: 0;
    //   border-left: 0;
    //   cursor: pointer;

    //   + a {
    //     top: $t + 5px;
    //   }
    //   &:hover {
    //     top: $t - 1px;
    //     + a {
    //       top: ($t -1px) + 5px + 2px;
    //     }
    //   }
    // }
  }

  .share {
    width: 350px;
    margin-top: 10px;
    height: 35px;
    line-height: 35px;
    width: 350px;

    >* {
      display: inline-block;
      float: left;
    }

    span {
      width: 50px;
    }

    div {
      width: calc((100% - 50px) / 5); //100% - span:width:50px / a有5個
      text-align: center;

      // @include border-line ();
      // border-radius: 50%;//沒有div包，會變長方形 不行
      a {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 30px;
        @include border-line (1px, rgba(203, 203, 203, 1));
        border-radius: 50%;
        text-decoration: none;
        line-height: 30px - 2px;
        margin-top: 5px / 2;
        color: rgba(203, 203, 203, 1);
        z-index: 1;
        transition: color .3s;

        &:after {
          content: '';
          position: absolute;
          display: inline-block;
          width: 10px;
          height: 10px;
          left: calc(50% - 10px / 2);
          top: calc(50% - 10px / 2);
          background-color: rgba(0, 0, 0, 1);
          z-index: -1;
          opacity: 0;
          overflow: hidden;
          transition: top, left, width, height, opacity, .3s;
          border-radius: 50%;
        }

        &:hover {
          color: #fff;
          border-width: 0;
          line-height: 30px;

          &:after {
            top: -1px;
            left: -1px;
            width: calc(100% + 1px * 2);
            height: calc(100% + 1px * 2);
            opacity: 1;
          }
        }
      }
    }
  }

  .pagination {
    width: 104px;
    margin-top: 10px;
    height: 35px;
    line-height: 35px;
    margin-left: 16px;
    @include clearfix ();

    .now,
    .count {
      font-size: 14px;
    }

    span {
      display: inline-block;
      float: left;
      margin-left: 8px;
    }

    .line {
      width: 50px;
      height: 1px;
      background-color: rgba(160, 160, 160, 1);
      margin-top: 17px;
    }
  }
}

#menu {
  width: $menuWidth;
  background-color: rgba(44, 87, 137, 1);

  a {
    position: relative;
    z-index: 1;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: rgba(255, 255, 255, .75);
    transition: color, background-color, .3s;
    cursor: pointer;
    @include overflow-doc();

    &:after {
      content: '';
      z-index: -1;
      position: absolute;
      top: calc(50% - 10px / 2);
      left: calc(50% - 10px / 2);
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: rgba(0, 0, 0, 1);
      //動畫效果方法1以下
      transition: top, left, width, height, opacity, .3s;
      opacity: 0;
      //動畫效果方法2以下
      // transform: scale(0) ; 
      // transition: transform .3s;
    }

    &:hover {
      color: rgba(255, 255, 255, 1);

      // background-color: #000;
      //動畫效果方法1以下
      &:after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
      }

      //動畫效果方法2以下
      // &:after {
      //   transform: scale(30); //because $menuWidth: 280px a:after width: 10px 放大30倍
      // }
    }
  }
}

#content {
  width: calc(100% - #{$menuWidth});

}
